body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em; /* Aumenta o tamanho da fonte do título */
    margin: 0; /* Remove margens */
}

header p {
    font-size: 1.2em; /* Aumenta o tamanho da fonte da descrição */
    margin-top: 10px; /* Espaço acima do parágrafo */
}

nav ul {
    list-style-type: none; /* Remove marcadores */
    padding: 0; /* Remove padding */
}

nav ul li {
    display: inline; /* Torna os itens do menu em linha */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

nav ul li a {
    color: white; /* Cor do texto dos links */
    text-decoration: none; /* Remove sublinhado */
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1; /* Cor de fundo do rodapé */
}


